

.logoFotter{
    max-width: 150px;
    max-height: 150px;
}

.bgfooterColor{
    background-color: #e3f6f5;
}

.bgfooterColorTwo{
    background-color: black;
    
}

.iconInfo{
    color: white;
    max-width: 40px;
    max-height: 40px;
    margin-right: 5px;
}